body {
    font-family: Arial, sans-serif;
    background-color: #18322f;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 400px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
    text-align: center;
}

.form h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #18322f;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #18322f;
}

p {
    text-align: center;
}

a {
    color: #18322f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
